.form1 {
    font-weight: 200px;
}
.form1 div {
    display: flex;
    /* grid-auto-flow: column; */
    flex-wrap: wrap;
}
.form1 label {
    padding: 0 2rem;
}
.form1 button {
    font-size: 1.25rem;
}